html, body, main { 
    background: $background;
    margin:0 auto;
}


div.wrapper header {
    height:130px;
    margin:0 auto;
    max-width:1200px;
}
div.wrapper header img#logo {
    max-width:1200px;
    padding-left:3vw;
    width:97vw;
    visibility: visible;
}
div.wrapper header img#logoSmall {
    margin-left:0rem;
    margin-bottom:0rem;
    max-width:100vw;
    visibility: hidden;
}
/*NAVIGATION*/

nav {
    margin:0 auto;
    margin:8px 0;
    width: 100%;
    max-width:1200px;
    height:2rem;
    padding:0rem;
    background:$background;

}
nav ul {
    display:flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    list-style-type: none;
    margin:0;
    height:2rem;
    margin:0;
    margin-bottom:0;
}
nav ul div#alignRight {
    height:2rem;
    display:flex;
    flex-direction: row;
    justify-content: right;
    width:45%;
    margin-left:55%;
}
nav ul div#alignRight li {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background:$background
}
nav ul div#alignRight li a {
    text-decoration: none;
    height:2rem;
    color:$menuGray;
    text-transform: uppercase;
    padding-left:0rem;
    padding-right:1rem;
    padding-top:.4rem;
    margin-bottom:1rem;
    margin-top:0;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
    
}
nav ul div#alignRight li.active a {
    color: $menuGray;
    background: $background;
}
li.active {
    background-color: $menuGray;

}
nav ul div#alignRight li a i {
    padding-right:1rem;
}


/*Main CSS Rules */

div#banner {
    width:100vw;
    margin:0 auto;
    margin-top:.5rem;

}
div#banner img {
    width:100%
}

//DIV BLUE BANNER

div#blueBanner {
    background: rgb(17, 17, 24);
    width:100vw;
    margin-top:.5rem;
    padding-bottom:2rem;
}
div#bannerText {
    margin:0 auto;
    padding-bottom:0;
    max-width: 100vw;
    display:grid;
    grid-template-columns: 40vw 60vw;
}

div#leftText, div#rightText {
    color:white;
    font-family: 'Lato', sans-serif;

}

div#leftText {
    padding-right:2vw;
    padding-left:3vw;
    width:36vw;
}
div#leftText h1{
    color:$yellow;
    margin-bottom:.2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
div#leftText p {
    margin-top:.2rem;
    padding-right:3vw;
}
div#leftText ul {
    padding-left:5rem;
}
div#rightText h1.title {
    color:$yellow;
    font-family: 'Poppins', sans-serif;
    margin-bottom:.3rem;
    margin-top:1.7rem;
}
div#rightText h1.success {
    font-family: 'Poppins', sans-serif;
    color:$yellow;
    font-style: italic;
    font-size:2.5rem;
    margin-top:.4rem;

}
div#rightText {
    text-align: right;
    width:56vw;
    padding-right:2vw;
    padding-top:.4rem;
}
div#rightText h3 {
    margin:0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}
///ABOUT US SECTION 

div.about {
    max-width:1200px;
    width:100%;
    margin:0 auto;
}
div.about h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $teal;
    margin-top:4.5rem;
    margin-bottom:0rem;
    border-bottom:1px solid $menuGray

}

//CSS GRID 

div.imageGrid {
    width:100vw;
    padding:0;
    margin:0 auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 285px 285px;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap:2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom:1.4rem;

}
div.imageGrid p {
    font-size:.8rem;
    max-width:100%;
    margin:0;
}


div.itemA {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    max-width: 280px;
    figure {
        width:100%;
        margin:0;
        width:280px;
        
        figcaption {
            max-width: 280px;
            padding-top:0rem;
            padding-left:0;
            padding-right:0;
            h2 {
                margin-bottom:.2rem;
                margin-top:0rem;
                color:$teal;
                font-weight: 400;
                font-size:2rem;
            }
            p {
                color: $menuGray;
                line-height: 18px;
            }
        }
        img {
            width:100%;
            max-width: 280px;
            padding-left: 0;
            padding-right:0;
            padding-bottom:1rem;
            padding-top:0;
        }
    }
}

div.itemB {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    max-width: 290px;
    min-height:296px;
    margin:0 auto;
    figure {
        width:100%;
        margin:0;
        width:280px;
        figcaption {
            max-width: 280px;
            padding-top:0rem;
            padding-left:0;
            padding-right:0;
            h2 {
                margin-bottom:.2rem;
                margin-top:0rem;
                color:$teal;
                font-weight: 400;
                font-size:2rem;
            }
            p {
                color: $menuGray;
                line-height: 18px;
            }
        }
        img {
            width:100%;
            max-width: 280px;
            padding-bottom:1rem;
            padding-left:0;
            padding-right:0;
            padding-top:0;
        }
    }
}

div.itemC {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    max-width: 280px;
    figure {
        width:100%;
        margin:0;
        width:280px;
        
        figcaption {
            max-width: 280px;
            padding-top:0rem;
            padding-left:0;
            padding-right:0;
            h2 {
                margin-bottom:.2rem;
                margin-top:0rem;
                color:$teal;
                font-weight: 400;
                font-size:2rem;
            }
            p {
                color: $menuGray;
                line-height: 18px;
            }
        }
        img {
            width:100%;
            max-width: 280px;
            padding-left: 0;
            padding-right:0;
            padding-bottom:1rem;
            padding-top:0;
        }
    }
}  
div.itemD {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    max-width: 290px;
    figure {
        width:100%;
        margin:0;
        width:290px;
        
        figcaption {
            max-width: 280px;
            padding-top:0rem;
            padding-left:0;
            padding-right:0;
            h2 {
                margin-bottom:.2rem;
                margin-top:0rem;
                color:$teal;
                font-weight: 400;
                font-size:2rem;
            }
            p {
                color: $menuGray;
                line-height: 18px;
            }
        }
        img {
            width:100%;
            max-width: 280px;
            min-height:280px;
            padding-left: 0;
            padding-right:0;
            padding-bottom:1rem;
            padding-top:.7rem;
        }
    }
}

div.imageGrid2 {
    max-width:100vw;
    margin:0 auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap:0px;
}

div.imageGrid2 div {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    figure.figure1 {
    max-width: 270px;
    display:flex;
    justify-content:center;
    figcaption{
        max-width:270px;
        padding-left:0;
        padding-right:0;
    }
    img {
        max-width:270px;
    }
}}
div.imageGrid2 div {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    figure.figure2 {
    max-width: 270px;
    display:flex;
    justify-content:center;
    figcaption{
        max-width:270px;
        padding-left:0;
        padding-right:0;
    }
    img {
        max-width:270px;
    }
}}




div.imageSpan {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background:white;
    max-width:270px;
    max-height: 400px;

        figure.figure3 {
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin:0 auto;
            margin-top:3rem;
            max-width:270px;
            width: 100vw;   
            figcaption{
                max-width:300px;
            }    
            img {
                width: 100vw;
                max-width:270px;
                }
            }
        }


div.spanItem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    max-width:300px;
    width: 100vw;   
}
div.spanItem p {
    color: $menuGray;
    line-height: 18px;
    padding-bottom:0rem;
    padding:0;
    padding-top:16px;
    max-width:270px;
}
div.spanItem h2 {
    margin-bottom:.4rem;
    margin-top:0rem;
    color:$teal;
    font-weight: 400;
    font-size:2rem;
    padding:0;
    width:100%;
    max-width:280px;

}
div.sponsers {
    max-width:1200px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top:3rem;
    background:$white;
    img {
        width:200px;
    }
}

footer {
    width:100%;
    background-image: linear-gradient($teal, $gradientEnd);
    height:3rem;
    margin-bottom:9rem;
    p {
        color:white;
        font-family: 'Poppins', sans-serif;
        max-width:1200px;
        margin:0 auto;
        padding: .9rem .2;
    }
}