

/*Navigation Colors*/

$background: rgb(249,249,249);
$menuGray: rgb(153, 153, 153);
$yellow: rgb(253, 216, 49);
$teal: rgb(4, 128, 177);
$gradientStart: rgb(4, 128, 177);
$gradientEnd: rgb(1, 72, 109);
$white: white;