

.logo {
    padding:3rem;

}
header h1 {
    font-size:3rem;
    padding-left:3rem;

}
header h2 {
    font-size:2rem;
    padding-left:3rem;
}
nav li {
    float: left;
    width: 25%;
}

div.gallery figure {
    flex-basis:46%;
    
}


