
/*    HEADER CSS RULES     */
html {
	width:100%;
}
header{
	max-width:1200px;

}
div.wrapper {
	margin: 0 auto;
    display:grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas:
    "header"
	"menuopen"
	"content"
    "footer";

}


/*  ----------------------- NAVIGATION --------------------------- */
button#hamburgerBtn {
	display:none;
}
nav.clearfix {
    display:block;

}
div#navDiv2 {
    padding-top:0;
    max-width: 1200px;
	max-height:3.5rem;
	display:flex;
	flex-direction: row;
	width: 100%;

}
div#navDiv2 ul#secondaryNav li {
	width:16.666666%;
	margin:0;
}
div#navDiv2 span {
    display:none;
}
div#navDiv2 ul#secondaryNav {
	padding-top:0rem;
	width:100%;
}
div#navDiv2 i{
	font-size: 40px;
	width:1rem;
	height:1rem;
	color:white;
	text-decoration: none;
}
div#navDiv2 a {
	text-decoration: none;
}
div#navDiv2 ul{
	padding:0;
	margin:0;
	width:100%;
	padding-top:.5rem;
	display:flex;
	flex-direction: row;
	float:left;

}
div#navDiv2 ul li{
	list-style-type:none;
	padding:1rem;
	text-align:center;
}
//Main
main {
	margin:0 auto;
	padding:0rem;
	width:1200px;
	max-width:1200px;
	max-height:1650px;
}
main img {
	margin-right:2vw;
	padding-bottom:10rem;
	min-width:420px;
}
main p {
	padding-top:1rem;
	padding-right:0;
	margin:0;
	min-width:80vw;
	
}
main h1 {
	padding-left:1rem;
	font-size:3rem;
	margin-top:6rem;
	font-family: 'Lexend Giga', sans-serif;

}
main h2 {
	margin-top:1rem;
	padding-top:5rem;
	font-family: 'Domine', serif;
}

div.contentGroup {
	height:30rem;
	padding-left:1rem;
	display:block;
	
}
div#center {
	background:$headerColor;
}
div#top {
	margin-top:1rem;
	background: rgb(241, 241, 241);
	font-family: 'Spartan', sans-serif;
}
div#bottom {
	background: rgb(241, 241, 241);
	margin-bottom:0;
	font-family: 'Spartan', sans-serif;
}
div.contentGrout #top h2 {
	padding-top:0;
	font-family: 'Spartan', sans-serif;
}
div h2 {
	font-family: 'Spartan', sans-serif;
}
/*FOOTER CSS*/
h6 {
	max-width:1200px;
	font-family: 'Spartan', sans-serif;
}
footer {
	margin:0 auto;
	margin-top:5rem;
	width:100%;
	max-width: 1200px;
	text-align:center;
	margin-top:0;
}
