$grey: rgba(146, 146, 146, 0.452);
$transparentGrey: rgba(0,0,0,.3);
$mainColor: rgb(120, 8, 194);
$title: #f4a687;
$white: rgba(255, 255, 255, 0.808);
$blue: #9994e4;
$hovercolor: rgba(109, 109, 109, 0.4);
$menuNames: rgb(140, 0, 255);
$menuColor: rgb(104, 8, 194);
$menuTextColor: rgb(255, 255, 255);
$headerColor:rgb(255, 232, 203);
$subMenuColor: rgb(255, 255, 255);