$primary-color: rgb(255, 179, 122);
$secondary-color:rgb(255, 123, 0);
$tertiary-color:rgb(255, 123, 0);
$white: white;
$title-color:rgb(65, 65, 65);
$hover-orange:rgb(255, 220, 174);
$accent:black;
$font: 'Baloo Paaji 2', cursive;
$normal-weight:360;
$bold:700;

$gutter: 2vw;
$gutter-2: 5vw;

$button-width: round((200-(200*.2)))*1px;

$header-width:100vw;
