$grey: rgba(146, 146, 146, 0.452);
$transparentGrey: rgba(0,0,0,.3);
$red: rgb(64, 58, 138);
$title: rgb(42, 19, 97);
$white: rgb(255, 255, 255);
$blue: rgb(1, 30, 161);
$hovercolor: rgba(109, 109, 109, 0.4);